*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #000000;
    color: white;
}

section {
	font-size: calc(0.5em + 1vmin);
	color: #eee;
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.rings {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	padding-top: 100%;
}
.ring {
	font-size: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0.5em;
	text-align: center;
	border: 1px solid white;
	border-radius: 60%;
	background-color: black;
	transition: all ease-in-out 0.2s;
	.quote {
		opacity: 0;
		margin: 0;
		padding: 0;
	}
	&:hover,
	&:focus,
	&:active {
		cursor: pointer;
		background-color: #04b92b;
		color: black;
		animation: none !important;
		.quote {
			color: white;
			hyphens: auto;
			z-index: 100;
			opacity: 1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.ring {
	&.free {
		margin: 5%;
		animation: 5s infinite linear rotate;
		box-shadow: 0 0 5em #04b92b;
	}
	&.port {
		margin: 10%;
		animation: 7.5s infinite linear rotate;
	}
	&.popular {
		margin: 15%;
		animation: 10s infinite linear rotate;
	}
	&.flex {
		margin: 20%;
		animation: 12.5s infinite linear rotate;
	}
	&.vers {
		margin: 25%;
		animation: 15s infinite linear rotate;
	}
	&.easy {
		margin: 30%;
		animation: 20s infinite linear rotate;
	}
}
.quote {
	&.free {
		padding: 10%;
	}
	&.port {
		padding: 5%;
	}
	&.popular {
		padding: 4%;
	}
}


@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

