*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #000000;
    color: white;
}

.welcome{
    font-size: 8rem;
    padding: 10px;
  	margin-top: 175px;
  	margin-left: 35px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: none;
    text-decoration-color: white;
}

.small-welcoming{
  vertical-align: middle;
  font-size: 60px;
  padding: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.smaller-welcoming{
  vertical-align: middle;
  font-size: 29px;
  padding: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  color: aqua;
}

/* NO LONGER USING
.under-welcome {
    vertical-align: middle;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
  	margin-top: 3px;
  	margin-left: 50px;
}

NO LONGER USING 
.welcome-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1E1985; 
    border: none;
    color: white;
    padding: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin-top: 3px;
  	margin-left: 30px;
    cursor: crosshair;
    border-radius: 50%;
  }
  NO LONGER USING 
.welcome-login-button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #1E1985; 
  border: none;
  color: white;
  padding: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: crosshair;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 3px;
}
*/

button{
  background-color: #1E1985; 
  border: none;
  color: white;
  padding: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: crosshair;
  border-radius: 8px;
  margin-left: 50px;
  margin-top: 3px;
  transition-duration: 0.4s;
}

button:hover{
  background-color: #554deb;
  color: black;
}

.section{
  position: fixed;  
  right: 400px;
  top: 375px;
  filter: hue-rotate(70deg);
  scale: 1.15 1.15;
}

.welcome-effect{
  position: relative;
  transform: rotate(calc(45deg * var(--r)));
}

.welcome-effect span{
  position: absolute;
  transform-origin: right;
  transform: rotate(calc(18deg * var(--i)));
}

.welcome-effect span::before{
  content: '';
  position: absolute;
  top: calc(-15px / 2);
  width: 15px;
  height: 15px;
  background: greenyellow;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ffaa,
  0 0 20px #00ffaa,
  0 0 40px #00ffaa,
  0 0 60px #00ffaa,
  0 0 80px #00ffaa,
  0 0 100px #00ffaa;
  animation: animate 5s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}
@keyframes animate {
  0%{
    transform: translateX(200px) scale(1);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    transform: translateX(0) scale(0);
    opacity: 1;
  }
}

.catchphrase{
  font-size: 2rem;
  padding: 10px;
  position: fixed;  
  right: 50px;
  top: 650px;
}