*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #000000;
    color: white;
}

.choice-container{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
    background: rgb(8, 40, 219);
    font-size: 40px;
    min-width: 700px;
}

.choice-container:hover{
    cursor: crosshair;
    box-shadow: 0 0 6px 10px rgb(5, 120, 197);
    transform: scale(1.05);
    transform: transform 150ms;
}

.choice-prefix{
    padding: 10px 15px;
}

.choice-text{
    padding: 10px;
    width: 100%;
}

.correct{
    background: linear-gradient(90deg, rgb(4, 173, 32) 0%, rgb(5, 177, 42) 100%);
}

.incorrect{
    background: linear-gradient(90deg, rgb(194, 4, 4) 0%, rgb(194, 6, 6) 100%);

}

/* HUD */

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 30px;
}

.hud-main-text{
    text-align: center;
}

#progress-bar{
    width: 300px;
    height: 45px;
    border: 5px solid rgb(4, 173, 32);
    margin-top: 30px;
    border-radius: 50px;
    overflow: hidden;
}

#progress-bar-full{
    height: 100%;
    background: rgb(4, 173, 32);
    width: 0%;
}

#progress-text{
    
}


@media screen and (max-width: 750px){
    .choice-container{
        min-width: 700px;
    }
}

